<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.inria.sedrennes.mypluginmy.extension">
      <MyExtension
            my_attribute_class="fr.inria.dream.contributor.MyExtensionServiceInterface1"
            my_attribute_string="fr.inria.dream.contributor.MyExtension1">
      </MyExtension>
   </extension>

</plugin>
